# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
backend/venv/
backend/.venv/

.pytest_cache/
.mypy_cache/

# Variables de entorno / secretos
.env
.env.*
!.env.example

# =========================
# ANGULAR
# =========================
frontend/node_modules/
frontend/.angular/
frontend/dist/

# =========================
# FLUTTER
# =========================
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================